.column {
    width: 30%;
    margin: auto;
}

.tweet-Container {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 15px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
