.col-1 {
    width: 25%;
    float: left;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.forgotPassword-form {
    margin: 0;
    padding:auto;
    text-align: center;
}

.inner-form {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.information-control {
    margin:20px ;
}

.information-control label{
    margin-right: 10px;
}

header{
    height: 100px;
    background-color:royalblue;
    color: white;
    text-align: center;
}

.buttons {
    display: inline-block;
    text-align: center;
    display: inline;
    margin: 10px;
}

.buttons button {
    background: none;
    border: none;
}

.buttons button a,
.buttons a {
    width: 100%;
    padding: 10px 25px;
    border-radius: 20px;
    background-color:#000000;
    border: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
}